@use "./colors";
@use "./typography";
@use "./utils";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

/************* VARIABLES **************/
:root {
  --density--smallest: 0.1rem;
  --density--smaller: 0.2rem;
  --density--small: 0.5rem;
  --density--normal: 1rem;
  --density--large: 2rem;
  --density--larger: 4rem;
  --density--largest: 8rem;
}

/*************** RESET ****************/
*,
*:before,
*:after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 150%;
}

/************** DEFAULTS **************/
html {
  scroll-behavior: smooth;

  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

/************ PAGE LAYOUT *************/
body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  max-width: 120rem;

  margin: auto;
  padding: 0 var(--density--larger);
}

main {
  flex: 1;
}

/*************** TAGS *****************/
h1 {
  @include typography.apply('h1');
}

h2 {
  @include typography.apply('h2');
}

h3 {
  @include typography.apply('h3');
}

h4 {
  @include typography.apply('h4');
}

h5 {
  @include typography.apply('h5');
}

h6 {
  @include typography.apply('h6');
}

p {
  @include typography.apply('body1');
}

button {
  @include utils.ellipse;

  padding: var(--density--small) var(--density--normal);

  @include typography.apply('button');

  cursor: pointer;
}

label {
  @include typography.apply('subtitle2');

  cursor: pointer;
}

input,
textarea {
  padding: var(--density--small) var(--density--normal);

  @include typography.apply('body2');
}

details {
  @include typography.apply('body1');
}

summary {
  @include typography.apply('subtitle2');

  cursor: pointer;
}

/************* UTILITIES **************/

/*********** MEDIA QUERIES ************/
@media (width >= 480px) {
}

@media (width >= 600px) {
}

@media (width >= 768px) {
}

@media (width >= 900px) {
}

@media (width >= 1200px) {
}

@media (width >= 1920px) {
}
