@use "./components";
@use "./typography";
@use "./utils";

:root {
  --color-margin: #ad8052;
  --color-border: #e3c381;
  --color-padding: #b7c47f;
  --color-content: #87b2bc;
}

body {
  display: flex;
  flex-direction: column;
  gap: var(--density--larger);

  padding-bottom: var(--density--larger);

  > article {
    box-shadow: 0 0 1rem hsla(0, 0, 0, 10%);

    padding: var(--density--normal) var(--density--large);

    > section {
      border-top: 0.1rem solid var(--color-gray-80);

      padding: var(--density--larger) 0;
    }

    &.box-model {
      > section {
        &.figure {
          display: grid;
          place-items: center;

          h3 {
            width: 100%;
          }

          .model {
            --size: 32rem;

            position: relative;

            display: grid;
            place-items: center;

            &,
            > * {
              box-sizing: content-box;

              width: var(--size);
              height: var(--size);

              padding: var(--density--normal);
            }

            > * {
              position: absolute;

              @include typography.apply('body1');
            }

            .margin {
              background-color: var(--color-margin);

              &::after {
                content: 'margin';
              }
            }

            .border {
              --size: 24rem;

              background-color: var(--color-border);

              &::after {
                content: 'border';
              }
            }

            .padding {
              --size: 16rem;

              background-color: var(--color-padding);

              &::after {
                content: 'padding';
              }
            }

            .content {
              --size: 8rem;

              background-color: var(--color-content);

              &::after {
                content: 'content';
              }
            }
          }
        }

        &.box-sizing {
          .boxes {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);

            .box {
              --size: 20rem;

              background-color: var(--color-content);
              box-shadow: inset 0 0 0 2rem var(--color-padding);

              display: grid;
              place-items: center;

              width: var(--size);
              height: var(--size);

              margin: auto;
              padding: 2rem;

              border: 0.5rem solid var(--color-border);

              @include typography.apply('body1');
            }

            .border-box {
              box-sizing: border-box;
            }

            .content-box {
              box-sizing: content-box;
            }
          }
        }
      }
    }

    &.selectors {
      > section {
        form {
          display: flex;
          flex-direction: column;

          max-width: 60rem;

          margin: auto;
        }

        &.attribute-selectors {
          form {
            gap: var(--density--large);

            label {
              display: flex;
              flex-direction: column;

              input[type='text'] {
                border-color: var(--color-secondary--idle);
                border-width: 1rem;
                border-style: groove;
              }
            }
          }
        }

        &.positional-selectors {
          ul {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: var(--density--normal);

            li {
              background-color: var(--color-gray-80);

              display: grid;
              place-items: center;

              width: 20rem;
              height: 20rem;

              @include typography.apply('button');

              cursor: pointer;

              &:nth-child(2n + 1) {
                &:hover {
                  background-color: var(--color-primary--hover);
                  color: var(--color-gray-98);
                }
              }

              &:nth-child(2n) {
                &:hover {
                  background-color: var(--color-secondary--hover);
                }
              }
            }
          }
        }

        &.pseudo-selectors {
          form {
            gap: var(--density--normal);

            .choice {
              display: flex;
              align-items: center;
              gap: var(--density--small);

              label {
                color: gray;
              }

              input:checked + label {
                color: var(--color-primary--hover);
              }
            }
          }
        }
      }
    }
  }
}
