@use "./components";
@use "./typography";
@use "./utils";

:root {
  --color-margin: #ad8052;
  --color-border: #e3c381;
  --color-padding: #b7c47f;
  --color-content: #87b2bc;
}

body {
  > article {
    &.box-model {
      section {
        &.figure {
          display: grid;
          place-items: center;

          h3 {
            width: 100%;
          }

          .model {
            --size: 32rem;

            position: relative;

            display: grid;
            place-items: center;

            &,
            > * {
              box-sizing: content-box;

              width: var(--size);
              height: var(--size);

              padding: var(--density--normal);
            }

            > * {
              position: absolute;

              @include typography.apply('body1');
            }

            .margin {
              background-color: var(--color-margin);

              &::after {
                content: 'margin';
              }
            }

            .border {
              --size: 24rem;

              background-color: var(--color-border);

              &::after {
                content: 'border';
              }
            }

            .padding {
              --size: 16rem;

              background-color: var(--color-padding);

              &::after {
                content: 'padding';
              }
            }

            .content {
              --size: 8rem;

              background-color: var(--color-content);

              &::after {
                content: 'content';
              }
            }
          }
        }

        &.box-sizing {
          .boxes {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);

            .box {
              --size: 20rem;

              background-color: var(--color-content);
              box-shadow: inset 0 0 0 2rem var(--color-padding);

              display: grid;
              place-items: center;

              width: var(--size);
              height: var(--size);

              margin: auto;
              padding: 2rem;

              border: 0.5rem solid var(--color-border);

              @include typography.apply('body1');
            }

            .border-box {
              box-sizing: border-box;
            }

            .content-box {
              box-sizing: content-box;
            }
          }
        }
      }
    }
  }
}
