@use "./components";
@use "./typography";
@use "./utils";

body {
  display: grid;
  grid-template-areas: 'header header' 'main aside' 'footer footer';
  grid-template-columns: minmax(0, 1fr) auto;
  grid-template-rows: auto minmax(0, 1fr) auto;

  max-width: 120rem;

  margin: auto;

  * {
    scroll-margin-top: var(--density--large);

    &:target {
      outline: 0.5rem dashed var(--color-primary--idle);
    }
  }

  > * {
    padding: var(--density--normal) var(--density--large);
  }

  > header {
    grid-area: header;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
    }

    nav {
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--density--normal);

        li {
          a {
            padding: var(--density--small) var(--density--normal);

            @include utils.ellipse;

            @include typography.apply('subtitle1');
            text-decoration: none;

            &:hover {
              background-color: var(--color-primary--fade);
            }
          }
        }
      }
    }

    .cta {
      @include components.button--colorful('primary');
    }
  }

  > main {
    grid-area: main;

    article {
      display: flex;
      flex-direction: column;
      gap: var(--density--large);

      header {
        h1 {
        }

        img {
          width: 100%;
          height: auto;

          object-fit: contain;
        }
      }

      section {
        p {
          text-align: justify;
        }

        details {
          margin-top: var(--density--normal);

          summary {
          }

          p {
            padding-left: var(--density--larger);
          }
        }
      }
    }

    blockquote {
      //noinspection CssInvalidPropertyValue
      quotes: "\201C''\201D''\2018''\2019";

      position: relative;

      max-width: 50ch;

      margin: auto;
      padding: var(--density--largest) 0;

      @include typography.apply('h6');
      text-align: justify;

      &::before,
      &::after {
        color: var(--shade-80);

        position: absolute;

        height: fit-content;

        font-family: sans-serif;
        font-size: 10.8rem;
        line-height: 100%;
      }

      &::before {
        content: open-quote;

        top: 0;
        left: 0;

        transform: translate(-150%, 40%);
      }

      &::after {
        content: close-quote;

        right: 0;
        bottom: 0;

        transform: translate(160%, 0%);
      }
    }
  }

  > aside {
    grid-area: aside;

    position: sticky;
    top: var(--density--large);

    min-width: 24rem;
    width: max-content;
    max-width: 28rem;
    height: fit-content;

    section {
      background-color: var(--color-secondary--fade);

      padding: var(--density--normal);

      .title {
        margin-bottom: var(--density--small);
      }

      nav {
        ul {
          display: flex;
          flex-direction: column;
          gap: var(--density--small);

          padding-left: var(--density--normal);

          li {
            a {
              @include typography.apply('body2');
            }
          }
        }
      }
    }
  }

  > footer {
    grid-area: footer;

    background-color: var(--color-gray-10);
    color: var(--color-gray-98);

    @include typography.apply('caption');
    text-align: center;
  }
}
